<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS de la Nube CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href={ % static 'CSS/estilos.css' %}> -->

    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap" rel = "hoja de estilo">
    <link rel="shortcut icon" href="map_78365.ico" type="image/x-icon">
    <title>PokeAbility 2NV</title>
    {% load static %} 
    <link rel="shortcut icon" href="{% static 'Imagenes/Favicon2.png' %}" type="image/x-icon">

    <!--este kit es para colocar las fuentes en forma de imagen, se debe dejar en el final  -->
    <script src="https://kit.fontawesome.com/eaf6669a79.js" crossorigin="anonymous"></script>

  </head>
   <body style ="font-family:'Roboto', sans-serif"> <!--aca le doy la letra -->
    <div class="container ">
     
      <h1 style="Color: rgb(233, 0, 0) ">HABILIDADES DE {{pokemon.upper}}</h1>
      
      

      
            <div class="row  img-rounder">
              <div weight="300">
                {% ifequal pokemon pokemones.0 %}
                {% load static %} 
                <img  style=" border-radius:50% " src="{% static 'Imagenes/spearow2.jpg' %}"alt="Card image" width="200" height="200">
                {% endifequal %}
                {% ifequal pokemon pokemones.1 %}
                {% load static %} 
                <img  class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/fearow2.png' %}"alt="Card image" width="200" height="200">
                
                {% endifequal %}
                {% ifequal pokemon pokemones.2 %}
                {% load static %} 
                <img  class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/ekans2.jpg' %}"alt="Card image" width="200" height="200" >
                
                {% endifequal %}
                {% ifequal pokemon pokemones.3 %}
                {% load static %} 
                <img  class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/arbok2.jpg' %}"alt="Card image" width="200" height="200" >

                {% endifequal %}
                {% ifequal pokemon pokemones.4 %}
                {% load static %} 
                <img class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/pikachu2.jpg' %}"alt="Card image" width="200" height="200" >
          
                {% endifequal %}
                {% ifequal pokemon pokemones.5 %}
                {% load static %} 
                <img class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/raichu2.jpg' %}"alt="Card image" width="200" height="200" >
         
                {% endifequal %}
                {% ifequal pokemon pokemones.6 %}
                {% load static %} 
                <img class="imagen" style="border-radius: 50%"   src="{% static 'Imagenes/sandshrew2.png' %}"alt="Card image" width="200" height="200"  >
     
                {% endifequal %}
                {% ifequal pokemon pokemones.7 %}
                {% load static %} 
                <img class="imagen" style="border-radius: 50%"  src="{% static 'Imagenes/sandslash2.jpg' %}"alt="Card image"  width="200" height="200">

                {% endifequal %}
                {% ifequal pokemon pokemones.8 %}
                {% load static %} 
                <img class="imagen" style="border-radius: 50%" src="{% static 'Imagenes/nidorina2.jpg' %}"alt="Card image"  width="200" height="200">
                {% endifequal %}
              </div>
             {% for v in list %} 
                <div class=" cards col-sm 12 col-md 6 col-lg 3 borderCard" width="400" height="200">
                  
                      <div  class="cards">
                        <div class="card-header" class="col-sm 12 col-md 8 col-lg 8">
                           <strong>Habilidad: {{v.name}}</strong>
                           
                        </div>
                        <div class="card-body" class="col-sm 12 col-md 8 col-lg 8">
                          <strong>url:{{v.url}}</strong>
                       </div>
                     </div>
             {% endfor %} 
             </div> <!--imprima el tema -->
                
           
    </div>
    <div></div>

    <!-- Se colocan mis scripts -->
    <!-- primero se coloca la libreria jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Los pooper los cuales me crean ventanas emergentes -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- Los bootstrap de JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>